body {
 	font-family: Helvetica;
 	background-color: #fdfdfd;
	color: black;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

.title {
	font-size: 60px;
	text-align: left;
	margin: 3px 10px;
}

.instructions {
	font-size: 30px;
	text-align: left;
	margin: 3px 10px;
}

.randomNumber {
	font-size: 80px;
	text-align: left;
	margin: 3px 10px;
}

.explanation {
	font-size: 20px;
	text-align: left;
	margin: 3px 10px;
}

.visibleButton {
	display: initial;
	visibility: visible;
	height: 90px;
	width: 70px;
	font-size: 30px;
}

.hiddenButton {
	display: none;
	visibility: hidden;
	height: 90px;
	width: 70px;
	font-size: 30px;
}

.visibleBit {
	display: block;
	float: left;
	text-align: center;
	visibility: visible;
	width: 70px;
	font-size: 30px;
}

.hiddenBit {
	display: none;
	float: left;
	text-align: center;
	visibility: hidden;
	width: 70px;
	font-size: 30px;
}

.correct {
	display: initial;
	visibility: visible;
	font-size: 30px;
}

.resetButton {
	display: initial;
	visibility: hidden;
	font-size: 30px;
}

.select select {
  background-color: lightgray;
  border: none;
  color: grey;
  font-size: 22px;
  flex-grow: 1;
  margin: 0 5px;
}


.sum {
	display: initial;
	visibility: visible;
	width: 70px;
	font-size: 24px;
}
