body {
  font-family: Helvetica;
  background-color: #ffffff;
  color: black;
  margin: 0;
}

.big-tag tr {
  text-align: center;
  font-size: 58px;
}

.big-tag-2 tr {
  text-align: center;
  font-size: 58px;
}

.big-tag-3 tr {
  text-align: center;
  font-size: 56px;
}

.big-tag-4 tr {
  text-align: center;
  font-size: 54px;
}

.big-tag-5 tr {
  text-align: center;
  font-size: 52px;
}

.big-tag-6 tr {
  text-align: center;
  font-size: 50px;
}

.big-tag-7 tr {
  text-align: center;
  font-size: 48px;
}

.big-tag-8 tr {
  text-align: center;
  font-size: 44px;
}

.medium-tag tr {
  text-align: center;
  font-size: 26px;
}

.little-tag tr {
  text-align: center;
  font-size: 20px;
}

.competitor-country {
  height: 24px;
}

.competitor-id {
  height: 18px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.nametag {
  padding: 5px 5px;
  border: 3px solid black;
  width: 500px;
  height: 345px;
  float: left;
  border-radius: 15px 15px 15px 15px;
  margin-right: 60px;
  margin-bottom: 45px;
}

tr.min {
  width: 50px;
  white-space: nowrap;
}
