body {
 	font-family: Helvetica;
 	background-color: #fdfdfd;
	color: black;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

.title {
	font-size: 60px;
	text-align: center;
	margin: 3px 10px;
}

.instructions {
	font-size: 30px;
	text-align: center;
	margin: 3px 10px;
}

.update {
	font-size: 20px;
	text-align: center;
	margin: 3px 10px;
	height: 20px;
}

.randomNum{
	font-size: 45px;
	text-align: center;
	margin: 3px 10px;
}

.buttons {
	text-align: center;
}

.section {
	width: 1150px;
	text-align: center;
}

.label {
	display: inline;
	height: 20px;
	width: 70px;
	font-size: 20px;
}

.label:disabled,
.label[disabled]{
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  color: #000000;
}

.card {
	display: initial;
	height: 90px;
	width: 70px;
	font-weight: bold;
	font-size: 20px;
}

.playAgainButton {
	visibility: hidden;
	font-size: 30px;
	text-align: center;
}
