body {
  font-family: Helvetica;
  background-color: #fdfdfd;
  color: black;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

br {
   display: block;
   margin: 5px 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

input[type=text] {
  border: 4px solid black;
  border-radius: 4px;
  font-size: 24px;
  flex-grow: 1;
  text-align: center;
  margin: 0 150px;
}
  
.result {
  font-size: 14px;
  margin: 0 5px;
}
