body {
  font-family: Helvetica;
  background-color: #ffffff;
  color: black;
  margin: 0;
}

.personal-card {
  padding: 5px 5px;
  border: 3px solid black;
  width: 500px;
  height: 345px;
  float: left;
  border-radius: 15px 15px 15px 15px;
  margin-right: 60px;
  margin-bottom: 45px;
}

.schedule tr { 
  font-size: 12px; 
}

tr.min {
  width: 50px;
  white-space: nowrap;
}

.group-222 {
 font-weight: bold;
}

.group-333 {
 font-weight: bold;
}

.group-333oh {
 font-weight: bold;
}

.group-333ft {
 font-weight: bold;
}

.group-333bf{
 font-weight: bold;
}

.group-333mbf{
 font-weight: bold;
}

.group-333fm {
 font-weight: bold;
}

.group-444 {
 font-weight: bold;
}

.group-444bf {
 font-weight: bold;
}

.group-555 {
 font-weight: bold;
}

.group-555bf {
 font-weight: bold;
}

.group-666 {
 font-weight: bold;
}

.group-777 {
 font-weight: bold;
}

.group-pyram {
 font-weight: bold;
}

.group-clock {
 font-weight: bold;
}

.group-minx {
 font-weight: bold;
}

.group-skewb {
 font-weight: bold;
}

.group-sq1 {
 font-weight: bold;
}
