body {
  font-family: Helvetica;
  background-color: #ffffff;
  color: black;
  margin-left: 0;
  margin-right: 0;
  padding: 10;
}

.first-row {
  font-family: Helvetica;
  font-size: 15px;
}

.second-row {
  font-family: Helvetica;
  font-size: 20px;
}

.full-table-one {
  font-family: Helvetica;
  border: 2px solid black;
  border-collapse: collapse;
}

.full-table-one th {
  border: 2px solid black;
  text-align: center;
  font-weight: normal;
}

.full-table-one td {
  border: 2px solid black;
  height: 69px;
}

.full-table-two {
  font-family: Helvetica;
  border: 2px solid black;
  border-collapse: collapse;
}

.full-table-two th {
  border: 2px solid black;
  text-align: center;
  font-weight: normal;
}

.full-table-two td {
  border: 2px solid black;
  height: 78px;
}

.full-table-three {
  font-family: Helvetica;
  border: 2px solid black;
  border-collapse: collapse;
}

.full-table-three th {
  border: 2px solid black;
  text-align: center;
  font-weight: normal;
}

.full-table-three td {
  border: 2px solid black;
  height: 105px;
}

.full-table-four {
  font-family: Helvetica;
  border: 2px solid black;
  border-collapse: collapse;
}

.full-table-four th {
  border: 2px solid black;
  text-align: center;
  font-weight: normal;
}

.full-table-four td {
  border: 2px solid black;
  height: 119px;
}

.scorecard-one {
  padding: 19px 5px;
  margin: 20px;
  border: 3px solid black;
  width: 561px;
  height: 726px;
  float: left;
}

.scorecard-two {
  padding: 19px 5px;
  margin: 20px;
  border: 3px solid black;
  width: 561px;
  height: 726px;
  float: left;
}

.scorecard-three {
  padding: 19px 5px;
  margin: 20px;
  border: 3px solid black;
  width: 561px;
  height: 726px;
  float: left;
}
.scorecard-four {
  padding: 19px 5px;
  margin: 20px;
  border: 3px solid black;
  width: 561px;
  height: 726px;
  float: left;
}

.event-name {
  text-align: center;
  font-size: 36px;
  padding: 2px;
}

.cutoff {
  text-align: center;
  font-size: 15px;
}

.provisonal {
  text-align: center;
  font-size: 15px;
}
