body {
  font-family: Helvetica;
  background-color: #ffffff;
  color: black;
  margin-left: 0;
  margin-right: 0;
  padding: 10;
}


.first_row {
  font-family: Helvetica;
  font-size: 15px;
}

.second_row {
  font-family: Helvetica;
  font-size: 18px;
  text-decoration: underline;
}

.full_table {
  font-family: Helvetica;
  border: 2px solid #a9a9a9;
  border-collapse: collapse;
}

.full_table th {
  border: 2px solid #a9a9a9;
  text-align: center;
  font-weight: normal;
}

.full_table td {
  border: 2px solid #a9a9a9;
  height: 69px;
}

.scorecard {
  padding: 5px;
  border: 2px solid black;
  width: 561px;
  height: 726px;
}

.event_name {
  text-align: center;
  font-size: 36px;
  padding: 2px;
}

.cutoff {
  text-align: center;
  font-size: 15px;
}

.provisonal {
  text-align: center;
  font-size: 15px;
}
